<template>
  <div class="login flex mx-auto flex-col max-w-lg align-center h-full justify-center p-4">
    <h1 class="mt-auto mb-4 text-3xl font-bold">Buy me a coffee ☕️</h1>
    <span class="text-gray-700/60 dark:text-slate-400">
      ... or actually a tea, as I don't drink coffee.
      <br />
      It costs around 5€ per month to keep this page running.
      <br />
      If you enjoy it, I'd truly appreciate your support! 😊
      <br />
      <my-button @click="$window.open('https://paypal.me/rehni', '_blank')" class="mt-5"> → Support me via PayPal </my-button>
    </span>
    <div class="flex flex-col mt-auto mx-auto gap-2">
      <button
        @click="$window.open('/', '_self')"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        ← Back to start
      </button>
      <button
        @click="$router.push('/imprint')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Imprint & Privacy
      </button>
    </div>
  </div>
</template>

<style lang="css" scoped></style>

<script>
import Button from '../components/Button'

export default {
  name: 'buy-me-a-coffee',
  components: { 'my-button': Button },
}
</script>
