<template>
  <div class="login flex mx-auto flex-col align-center h-full justify-center p-4">
    <h1 class="mt-auto mx-auto text-3xl font-bold mb-3">The Planning Poker</h1>

    <div v-if="login.state === 'createDeck'" class="flex flex-col mx-auto">
      <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="newCardDeckName">Deck Name</label>
      <input
        v-model="newCardDeck.name"
        id="newCardDeckName"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
      />
      <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold my-2" for="newCardDeckValues">Card values</label>
      <input
        v-model="newCardDeck.value"
        id="newCardDeckValues"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
      />
      <span class="block text-gray-700/60 dark:text-slate-400 text-sm my-2">
        Input your card values separated by comma and ordered from small to large.
        <br />
        This is how your deck will look like:
      </span>
      <div class="mb-2 flex flex-wrap justify-center">
        <card
          v-for="(number, index) in newCardDeck.value.split(',').map((value) => value.trim())"
          :key="index"
          :disabled="true"
          :number="number"
        ></card>
      </div>
      <my-button @click="saveDeck" :disabled="newCardDeck.value.trim() === '' || newCardDeck.name.trim() === ''">Save Deck</my-button>
      <my-button @click="login.state = 'initial'" type="secondary">← Cancel</my-button>
    </div>
    <div v-else class="flex flex-col mx-auto">
      <div class="mb-2">
        <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="username">Name</label>
        <input
          @keyup.enter="createSession"
          v-model="login.name"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="form-group mb-2">
        <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="cardDeck">Card deck</label>
        <div class="relative">
          <div
            @click="deleteDeck"
            title="Delete deck"
            v-if="customDeck"
            style="top: 0"
            class="absolute top-0 bottom-0 hover:bg-slate-200 right-0 px-4 rounded-r z-10 top-1/2 cursor-pointer flex items-center"
          >
            🗑
          </div>
          <select
            id="cardDeck"
            class="appearance-none cursor-pointer shadow appearance-none border bg-white rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
            v-model="login.cardDeck"
          >
            <option
              :key="index"
              v-for="(cardDeck, index) in cardDeckOptions"
              :value="cardDeck.value"
              class="appearance-none shadow appearance-none border bg-white rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
            >
              {{ cardDeck.name }}
            </option>
          </select>
        </div>
        <span class="block text-gray-700/60 dark:text-slate-400 text-sm my-2">
          These cards will be used to vote. Your preferred deck is missing?
          <button @click="login.state = 'createDeck'" class="underline decoration decoration-sky-500 hover:decoration-2">Create your own.</button>
        </span>
      </div>
      <my-button :disabled="login.name.trim() === ''" @click="createSession">Create</my-button>
      <my-button @click="$router.push('/')" type="secondary">← Cancel</my-button>
    </div>
    <div class="flex flex-col mt-auto mx-auto gap-2">
      <button
        @click="$window.open('/imprint', '_self')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Imprint & Privacy
      </button>
      <button
        @click="$window.open('/buy-me-a-coffee', '_self')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Buy me a coffee ☕️
      </button>
    </div>
  </div>
</template>

<style lang="css" scoped></style>

<script>
import { mapMutations } from 'vuex'
import Button from '../components/Button'
import Card from '../components/Card.vue'

export default {
  name: 'start',
  components: { 'my-button': Button, Card },
  data: () => {
    return {
      login: {
        state: 'initial',
        name: 'John Doe',
        code: '',
        cardDeck: [1, 2, 3, 5, 8, 13, 20, '?'],
      },
      newCardDeck: {
        name: 'Your Deckname',
        value: '1, 2, 3, 4, 5',
      },
      cardDeckOptions: [
        {
          name: 'Modified Fibonacci (1, 2, 3, 5, 8, 13, 20, ?)',
          value: [1, 2, 3, 5, 8, 13, 20, '?'],
          customDeck: false,
        },
        {
          name: 'T-Shirt Sizes (xs, s, m, l, xl, ?)',
          value: ['xs', 's', 'm', 'l', 'xl', '?'],
          customDeck: false,
        },
      ],
    }
  },
  methods: {
    ...mapMutations(['setName', 'setSession', 'emit']),
    deleteDeck() {
      if (localStorage.getItem('customDecks')) {
        let customDecks = JSON.parse(localStorage.getItem('customDecks'))
        customDecks = customDecks.filter((deck) => {
          return deck.value.toString() !== this.login.cardDeck.toString() && deck.customDeck
        })
        localStorage.setItem('customDecks', JSON.stringify(customDecks))
      }
      this.cardDeckOptions = this.cardDeckOptions.filter((deck) => deck.value.toString() !== this.login.cardDeck.toString())
      this.login.cardDeck = this.cardDeckOptions[0]?.value ?? undefined
    },
    saveDeck() {
      try {
        if (!this.newCardDeck.name.trim()) {
          alert('A name is required')
          return
        }
        if (!this.newCardDeck.value.trim()) {
          alert('Card deck values are required')
          return
        }
        const cardValues = this.newCardDeck.value.split(',').map((value) => value.trim())
        if (cardValues.length < 2) {
          alert('Use at least two values for the card deck.')
          return
        }
      } catch (e) {
        alert('Your card deck input is invalid')
        return
      }
      const newCardDeck = {
        name: this.newCardDeck.name + ' (' + this.newCardDeck.value + ')',
        value: this.newCardDeck.value.split(',').map((value) => value.trim()),
        customDeck: true,
      }
      if (localStorage.getItem('customDecks')) {
        let customDecks = []
        try {
          customDecks = JSON.parse(localStorage.getItem('customDecks'))
        } catch (e) {}
        customDecks.push(newCardDeck)
        localStorage.setItem('customDecks', JSON.stringify(customDecks))
      } else {
        localStorage.setItem('customDecks', JSON.stringify([newCardDeck]))
      }
      this.cardDeckOptions.push(newCardDeck)
      this.newCardDeck = {
        name: 'Your Deckname',
        value: '1, 2, 3, 4, 5',
      }
      this.login.state = 'create'
    },
    createSession() {
      if (typeof {}[this.login.name.trim()] !== 'undefined') {
        alert('This name is not allowed')
        return
      }
      localStorage.setItem('name', this.login.name)
      this.emit({
        eventName: 'client:createSession',
        payload: {
          name: this.login.name,
          cardDeck: this.login.cardDeck,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
          this.setName(response.name)
          this.setSession(response.session)
          this.$router.push(`/session?code=${response.session.code}`)
        },
      })
    },
  },
  computed: {
    customDeck() {
      const selectedDeck = this.cardDeckOptions.find((deck) => deck.value === this.login.cardDeck)
      return selectedDeck?.customDeck
    },
  },
  mounted() {
    if (localStorage.getItem('customDecks')) {
      try {
        const customDecks = JSON.parse(localStorage.getItem('customDecks'))
        if (customDecks?.length) {
          this.login.cardDeck = customDecks[0].value
          this.cardDeckOptions = this.cardDeckOptions.concat(customDecks)
        }
      } catch (e) {
        console.log('Error reading custom card decks:', e)
      }
    }

    if (localStorage.getItem('name')) {
      this.login.name = localStorage.getItem('name')
    }
  },
}
</script>
