<template>
  <div class="login flex mx-auto flex-col max-w-lg align-center h-full justify-center p-4">
    <h1 class="mt-auto mb-4 text-3xl font-bold">Imprint</h1>
    <span class="w-full text-gray-700/60 dark:text-slate-400">
      Robert Ehni
      <br />
      Hildastr. 2
      <br />
      69115 Heidelberg
      <br />
      <br />
      Tel: +49 (0) 176 64982250
      <br />
      Mail: hallo@robert-ehni.de
    </span>
    <h1 class="my-4 text-3xl font-bold">Privacy</h1>
    <span class="text-gray-700/60 dark:text-slate-400">
      No personal data is collected on this web application.
      <br />
      During the session the session relevant information (usernames, estimations, etc.) are stored in memory.
      <br />
      Once the last user leaves the session all session information is deleted.
    </span>
    <div class="flex flex-col mt-auto mx-auto gap-2">
      <button
        @click="$window.open('/', '_self')"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        ← Back to start
      </button>
      <button
        @click="$router.push('/buy-me-a-coffee')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Buy me a coffee ☕️
      </button>
    </div>
  </div>
</template>

<style lang="css" scoped></style>

<script>
export default {
  name: 'imprint',
}
</script>
