<template>
  <div class="login flex mx-auto flex-col align-center h-full justify-center p-4">
    <h1 class="mt-auto mx-auto text-3xl font-bold mb-3">The Planning Poker</h1>
    <div class="flex flex-col mx-auto">
      <div class="mb-2">
        <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="username">Name</label>
        <input
          @keyup.enter="joinSession"
          v-model="login.name"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="form-group mb-2">
        <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="code">Code</label>
        <input
          @keyup.enter="joinSession"
          v-model="login.code"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
          id="code"
          type="text"
          placeholder="Code"
        />
      </div>
      <my-button :disabled="login.name.trim() === '' || login.code === ''" @click="joinSession">Join</my-button>
      <my-button @click="$router.push('/')" type="secondary">← Cancel</my-button>
    </div>
    <div class="flex flex-col mt-auto mx-auto gap-2">
      <button
        @click="$window.open('/imprint', '_self')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Imprint & Privacy
      </button>
      <button
        @click="$window.open('/buy-me-a-coffee', '_self')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Buy me a coffee ☕️
      </button>
    </div>
  </div>
</template>

<style lang="css" scoped></style>

<script>
import { mapMutations } from 'vuex'
import Button from '../components/Button'
import Card from '../components/Card.vue'

export default {
  name: 'start',
  components: { 'my-button': Button, Card },
  data: () => {
    return {
      login: {
        name: 'John Doe',
        code: '',
      },
    }
  },
  methods: {
    ...mapMutations(['setName', 'setSession', 'emit']),
    joinSession() {
      if (typeof {}[this.login.name.trim()] !== 'undefined') {
        alert('This name is not allowed')
        return
      }

      localStorage.setItem('name', this.login.name)
      const eventName = this.emit({
        eventName: 'client:joinSession',
        payload: {
          name: this.login.name,
          sessionCode: this.login.code,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
          this.setName(response.name)
          this.setSession(response.session)
          this.$router.push(`/session?code=${response.session.code}`)
        },
      })
    },
  },
  mounted() {
    if (this.$route.query.code) {
      this.login.code = this.$route.query.code
    }

    if (localStorage.getItem('name')) {
      this.login.name = localStorage.getItem('name')
    }
  },
}
</script>
