<template>
  <div class="session h-full w-full flex flex-col justify-between p-4">
    <div class="flex flex-wrap justify-center">
      <div class="flex flex-col sm:flex-row absolute items-center left-0 pl-2">
        <label class="dropdown" ref="dropdownMenu">
          <div class="dd-button select-none transition hover:rotate-45 cursor-pointer text-lg p-2" name="Menu">⚙️</div>
          <input type="checkbox" v-model="dropdownMenu" class="dd-input" id="menuCheckbox" />
          <ul class="dd-menu absolute bg-slate-200 dark:bg-white rounded p-2 m-2">
            <li>
              <toggle
                id="toggleSpectator"
                class="h-8"
                :value="spectatorMode"
                @click="spectatorMode = !spectatorMode"
                :disabled="session && session.revealed"
                >Spectator</toggle
              >
            </li>
            <li>
              <toggle id="toggleDarkMode" class="h-8 mb-2" :value="darkMode" @click="toggleDarkMode">Dark mode</toggle>
            </li>
            <li>
              <toggle id="toggleConsensusConfetti" class="h-8 mb-2" :value="consensusConfetti" @click="toggleConsensusConfetti"
                >Consensus Confetti 🎉</toggle
              >
            </li>
            <li>
              <my-button @click="copyInvite" class="mb-1 w-36 text-xs sm:text-base">Copy Link</my-button>
            </li>
            <li v-if="session && session.creator === name">
              <my-button @click="openChangeDeckView" class="mb-1 w-36 text-xs sm:text-base">Change Card Deck</my-button>
            </li>
            <li>
              <my-button
                @click="$window.open('/imprint', '_blank')"
                type="secondary"
                class="mb-2 border-blue-200 dark:border-slate-200 text-slate-700 w-38 text-xs sm:text-base"
              >
                Imprint & Privacy
              </my-button>
            </li>
            <li>
              <my-button @click="exit" class="w-36 text-xs sm:text-base text-slate-700 border-blue-200 dark:border-slate-200" type="secondary"
                >Quit</my-button
              >
            </li>
          </ul>
        </label>
        <label class="dropdown" ref="dropdownTimer" v-if="session && session.creator === name">
          <div class="dd-button select-none cursor-pointer text-lg p-2" name="Timer">⏱</div>
          <input type="checkbox" v-model="dropdownTimer" class="dd-input" id="timerCheckbox" />
          <div class="dd-menu absolute bg-slate-200 dark:bg-white rounded w-40 p-2 m-2">
            <label class="block text-slate-900 text-sm font-bold mb-2" for="timerMinutes">Set timer (minutes)</label>
            <input
              @keyup.enter="
                dropdownTimer = false
                startTimer()
              "
              v-model="timer.configuredMinutes"
              min="0"
              max="30"
              step="0.5"
              class="shadow mb-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
              id="timerMinutes"
              type="number"
              placeholder="0"
            />
            <my-button
              @click="
                dropdownTimer = false
                startTimer()
              "
              class="w-full text-xs p-2 sm:text-base"
            >
              Start timer
            </my-button>
          </div>
        </label>
      </div>
      <div class="flex flex-col">
        <p class="mx-auto">
          Hello
          <span class="font-bold">{{ name }}</span>
          👋
        </p>
        <p v-if="session && session.code" class="mx-auto text-slate-400/50">Code: {{ session.code }}</p>
      </div>
    </div>
    <div v-if="createDeck" class="flex flex-col mx-auto">
      <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="newCardDeckName">Deck Name</label>
      <input
        v-model="newCardDeck.name"
        id="newCardDeckName"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
      />
      <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold my-2" for="newCardDeckValues">Card values</label>
      <input
        v-model="newCardDeck.value"
        id="newCardDeckValues"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
      />
      <span class="block text-gray-700/60 dark:text-slate-400 text-sm my-2">
        Input your card values separated by comma and ordered from small to large.
        <br />
        This is how your deck will look like:
      </span>
      <div class="mb-2 flex flex-wrap justify-center">
        <card
          v-for="(number, index) in newCardDeck.value.split(',').map((value) => value.trim())"
          :key="index"
          :disabled="true"
          :number="number"
        ></card>
      </div>
      <my-button @click="saveDeck" :disabled="newCardDeck.value.trim() === '' || newCardDeck.name.trim() === ''">Save Deck</my-button>
      <my-button @click="createDeck = false" type="secondary">← Cancel</my-button>
    </div>
    <div v-else-if="changeDeckView" class="h-full w-1/2 self-center flex flex-col justify-center form-group mb-2">
      <label class="block text-gray-700 dark:text-slate-400 text-sm font-bold mb-2" for="cardDeck">Card deck</label>
      <div class="relative" style="visibility: visible !important">
        <div
          @click="deleteDeck"
          title="Delete deck"
          v-if="customDeck"
          style="top: 0"
          class="absolute top-0 bottom-0 hover:bg-slate-200 right-0 px-4 rounded-r z-10 cursor-pointer flex items-center"
        >
          🗑
        </div>
        <select
          id="cardDeck"
          class="appearance-none cursor-pointer shadow border bg-white rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
          v-model="cardDeck"
        >
          <option
            :key="index"
            v-for="(cardDeck, index) in cardDeckOptions"
            :value="cardDeck.value"
            class="appearance-none shadow border bg-white rounded w-full py-2 px-3 text-gray-700 dark:text-slate-900 leading-tight focus:outline-none focus:shadow-outline"
          >
            {{ cardDeck.name }}
          </option>
        </select>
      </div>
      <span class="block text-gray-700/60 dark:text-slate-400 text-sm my-2">
        These cards will be used to vote. Your preferred deck is missing?
        <button @click="createDeck = true" class="underline decoration decoration-sky-500 hover:decoration-2">Create your own.</button>
      </span>
      <my-button @click="setDeck">Set Deck</my-button>
      <my-button @click="changeDeckView = false" type="secondary">← Cancel</my-button>
    </div>
    <div v-if="!changeDeckView" class="h-full flex flex-col justify-center">
      <div v-hide="timer.timerEndDate" class="flex flex-row items-center justify-center mb-2">
        <span v-if="timer.timerSeconds > 0">{{ timer.timerMinutes }}:{{ timer.timerSeconds }}</span>
        <span v-else class="animate-ping animate-bounce">Timer up!</span>
        <div v-if="session && session.creator === name" class="flex flex-row items-center">
          <div class="cursor-pointer text-lg mx-1 p-1" @click="stopTimer" name="Stop timer">⏹</div>
          <div class="cursor-pointer text-lg p-1" @click="startTimer" name="Restart timer">⏯</div>
        </div>
      </div>
      <transition-group name="card-list" tag="div" class="flex flex-wrap items-start justify-center gap-4">
        <display-card :key="user" v-for="user in users" class="card-item flex flex-col items-center justify-center" :user="user"></display-card>
      </transition-group>
    </div>
    <div v-if="!changeDeckView" class="flex flex-col">
      <div v-if="session && session.revealed" class="w-full mb-4 mx-auto flex flex-col relative justify-center items-center">
        <div
          ref="consensusNotice"
          v-if="consensusConfetti && estimationConsensus()"
          class="absolute w-screen top-[-25px] flex flex-col justify-center items-center"
        >
          <span class="pl-4 font-bold animate-bounce cursor-pointer select-none" @click="fireConfetti()">{{ consensusMessage }}</span>
        </div>
        <div class="flex flex-row">
          <div class="flex flex-row mr-4">
            <div v-for="(number, index) in getOrderedEstimations()" :key="index" class="flex flex-col items-center justify-end">
              <div class="flex flex-row items-end justify-center">
                <span>
                  {{ getEstimations().filter((estimation) => estimation === number).length }}
                </span>
                <div class="mb-1">
                  <div
                    :key="index"
                    v-for="(number, index) in getEstimations().filter((estimation) => estimation === number)"
                    class="ml-2 h-4 w-1 bg-blue-500"
                  ></div>
                </div>
              </div>
              <card disabled="true" :number="number"></card>
            </div>
          </div>
          <div v-if="getAverageOfEstimations()" class="flex flex-col justify-center items-center">
            <span class="font-bold">Average</span>
            <span>{{ Math.round(getAverageOfEstimations() * 10) / 10 }}</span>
          </div>
        </div>
      </div>
      <my-button
        v-hide="session && session.creator === name && Object.keys(session.estimations).length"
        class="mx-auto"
        @click="session && session.revealed ? newVoting() : reveal()"
      >
        {{ session.revealed ? 'New Voting' : 'Reveal' }}
      </my-button>
      <div v-hide="!session.spectators.includes(name)" class="flex flex-wrap justify-center">
        <template v-if="session.cardDeck && session.cardDeck.length > 0">
          <card
            :key="index"
            v-for="(number, index) in session.cardDeck"
            :number="number"
            :estimation="estimation"
            @click="submitEstimation(number)"
            :disabled="session?.revealed"
          ></card>
        </template>
        <template v-else-if="session.creator === name">
          <my-button @click="openChangeDeckView" class="mb-1 w-36 text-xs sm:text-base">Set Card Deck</my-button>
        </template>
        <template v-else>
          <span>Waiting for {{ session.creator }} to select a card deck.</span>
        </template>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
.card-item {
  transition: all 1s;
}

.card-list-enter,
.card-list-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.card-list-leave-active {
  position: absolute;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-input {
  display: none;
}

.dd-input + .dd-menu {
  display: none;
}
</style>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Button from '../components/Button'
import Card from '../components/Card'
import Toggle from '../components/Toggle'
import DisplayCard from '../components/DisplayCard'
import confetti from 'canvas-confetti'

export default {
  name: 'session',
  components: { 'my-button': Button, Card, Toggle, DisplayCard },
  data: () => {
    return {
      spectatorMode: false,
      estimation: '',
      dropdownTimer: false,
      dropdownMenu: false,
      changeDeckView: false,
      consensusMessage: '',
      consensusMessageTimeout: null,
      consensusMessages: ['Consensus unlocked! 🔥', 'Great minds agree! 🎯', 'All in sync! ✅', 'Aligned and decided! 🚀'],
      createDeck: false,
      cardDeckOptions: [
        {
          name: 'Modified Fibonacci (1, 2, 3, 5, 8, 13, 20, ?)',
          value: [1, 2, 3, 5, 8, 13, 20, '?'],
          customDeck: false,
        },
        {
          name: 'T-Shirt Sizes (xs, s, m, l, xl, ?)',
          value: ['xs', 's', 'm', 'l', 'xl', '?'],
          customDeck: false,
        },
      ],
      cardDeck: [1, 2, 3, 5, 8, 13, 20, '?'],
      newCardDeck: {
        name: 'Your Deckname',
        value: '1, 2, 3, 4, 5',
      },
      timer: {
        configuredMinutes: 1,
        timerEndDate: null,
        timerInterval: null,
        timerMinutes: 0,
        timerSeconds: 0,
      },
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!to.query.code) {
        vm.$router.push('/')
      } else if (!vm.$store.getters.name && !vm.$store.getters.session) {
        vm.$router.push(`/join?code=${to.query.code}`)
      } else if (vm.$store.getters.session.code !== to.query.code) {
        window.location = `/join?code=${to.query.code}`
      }
    })
  },
  mounted() {
    if (this.socket) {
      this.registerTimerFunctions()
    }

    if (localStorage.getItem('customDecks')) {
      try {
        const customDecks = JSON.parse(localStorage.getItem('customDecks'))
        if (customDecks?.length) {
          this.cardDeck = customDecks[0].value
          this.cardDeckOptions = this.cardDeckOptions.concat(customDecks)
        }
      } catch (e) {
        console.log('Error reading custom card decks:', e)
      }
    }

    if (!this.session?.cardDeck?.length && this.session?.creator === this.name) {
      this.changeDeckView = true
    }
  },
  computed: {
    ...mapGetters(['name', 'session', 'socket', 'darkMode', 'consensusConfetti']),
    customDeck() {
      const selectedDeck = this.cardDeckOptions.find((deck) => deck.value === this.cardDeck)
      return selectedDeck?.customDeck
    },
    isSpectator() {
      return this.session.spectators.includes(this.name)
    },
    users() {
      if (this.session?.revealed) {
        return this.session.user.sort(this.sortFunction)
      }
      return this.session.user
    },
  },
  watch: {
    session: function (newSession, oldSession) {
      if (oldSession?.revealed && !newSession?.revealed) {
        // Reset estimation on new session
        this.estimation = ''
        if (this.$refs.consensusNotice?.style) {
          this.$refs.consensusNotice.style.display = 'block'
        }
      }
      if (!oldSession.revealed && newSession?.revealed) {
        if (this.consensusConfetti && this.estimationConsensus()) {
          this.fireConfetti()
          this.consensusMessage = this.consensusMessages[Math.floor(Math.random() * this.consensusMessages.length)]
        }
      }
    },
    dropdownTimer: function (newValue) {
      const clickEventListener = (event) => {
        if (!this.$refs.dropdownTimer.contains(event.target)) {
          this.dropdownTimer = false
        }
      }
      const eventName = window.ontouchstart ? 'ontouchstart' : 'click'
      if (newValue) {
        window.addEventListener(eventName, clickEventListener)
      } else {
        window.removeEventListener(eventName, clickEventListener)
      }
    },
    dropdownMenu: function (newValue) {
      const clickEventListener = (event) => {
        if (!this.$refs.dropdownMenu.contains(event.target)) {
          this.dropdownMenu = false
        }
      }
      const eventName = window.ontouchstart ? 'ontouchstart' : 'click'
      if (newValue) {
        window.addEventListener(eventName, clickEventListener)
      } else {
        window.removeEventListener(eventName, clickEventListener)
      }
    },
    spectatorMode: function (newValue, oldValue) {
      this.emit({
        eventName: 'client:toggleSpectatorMode',
        payload: {
          sessionCode: this.session.code,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
        },
      })
    },
  },
  methods: {
    ...mapMutations(['emit', 'toggleDarkMode', 'toggleConsensusConfetti']),
    openChangeDeckView() {
      this.changeDeckView = true
      this.dropdownMenu = false
    },
    setDeck() {
      this.emit({
        eventName: 'client:changeDeck',
        payload: {
          sessionCode: this.session.code,
          cardDeck: this.cardDeck,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
          this.changeDeckView = false
          this.createDeck = false
        },
      })
      this.changeDeckView = false
      this.createDeck = false
    },
    deleteDeck() {
      if (localStorage.getItem('customDecks')) {
        let customDecks = JSON.parse(localStorage.getItem('customDecks'))
        customDecks = customDecks.filter((deck) => {
          return deck.value.toString() !== this.cardDeck.toString() && deck.customDeck
        })
        localStorage.setItem('customDecks', JSON.stringify(customDecks))
      }
      this.cardDeckOptions = this.cardDeckOptions.filter((deck) => deck.value.toString() !== this.cardDeck.toString())
      this.cardDeck = this.cardDeckOptions[0]?.value ?? undefined
    },
    saveDeck() {
      try {
        if (!this.newCardDeck.name.trim()) {
          alert('A name is required')
          return
        }
        if (!this.newCardDeck.value.trim()) {
          alert('Card deck values are required')
          return
        }
        const cardValues = this.newCardDeck.value.split(',').map((value) => value.trim())
        if (cardValues.length < 2) {
          alert('Use at least two values for the card deck.')
          return
        }
      } catch (e) {
        alert('Your card deck input is invalid')
        return
      }
      const newCardDeck = {
        name: this.newCardDeck.name + ' (' + this.newCardDeck.value + ')',
        value: this.newCardDeck.value.split(',').map((value) => value.trim()),
        customDeck: true,
      }
      if (localStorage.getItem('customDecks')) {
        let customDecks = []
        try {
          customDecks = JSON.parse(localStorage.getItem('customDecks'))
        } catch (e) {}
        customDecks.push(newCardDeck)
        localStorage.setItem('customDecks', JSON.stringify(customDecks))
      } else {
        localStorage.setItem('customDecks', JSON.stringify([newCardDeck]))
      }
      this.cardDeckOptions.push(newCardDeck)
      this.newCardDeck = {
        name: 'Your Deckname',
        value: '1, 2, 3, 4, 5',
      }
      this.createDeck = false
    },
    registerTimerFunctions() {
      this.socket.on('server:startTimer', (data) => {
        this.timer.timerEndDate = null
        clearInterval(this.timer.timerInterval)
        if (data.timerEndDate) {
          this.timer.timerEndDate = data.timerEndDate
          this.timer.timerInterval = setInterval(() => {
            const now = new Date().getTime()
            const distance = new Date(data.timerEndDate) - now

            const second = 1000
            const minute = second * 60
            const hour = minute * 60

            let minutesLeft = Math.floor((distance % hour) / minute)
            let secondsLeft = Math.floor((distance % minute) / second)
            if (minutesLeft < 10) {
              minutesLeft = `0${minutesLeft}`
            }
            if (secondsLeft < 10) {
              secondsLeft = `0${secondsLeft}`
            }
            this.timer.timerMinutes = minutesLeft
            this.timer.timerSeconds = secondsLeft

            if (Math.floor(distance / 1000) < -5) {
              this.timer.timerEndDate = null
              clearInterval(this.timer.timerInterval)
            }
          }, 0)
        }
      })
      this.socket.on('server:stopTimer', (data) => {
        this.timer.timerEndDate = null
        clearInterval(this.timer.timerInterval)
      })
    },
    startTimer() {
      this.emit({
        eventName: 'client:startTimer',
        payload: {
          sessionCode: this.session.code,
          minutes: this.timer.configuredMinutes,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
        },
      })
    },
    stopTimer() {
      this.emit({
        eventName: 'client:stopTimer',
        payload: {
          sessionCode: this.session.code,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
        },
      })
    },
    copyInvite() {
      window.prompt('Copy to clipboard:', `${location.href}`)
    },
    reveal() {
      this.emit({
        eventName: 'client:reveal',
        payload: {
          sessionCode: this.session.code,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
        },
      })
    },
    fireConfetti() {
      clearTimeout(this.consensusMessageTimeout)
      this.consensusMessageTimeout = setTimeout(() => {
        if (this.$refs.consensusNotice?.style) {
          this.$refs.consensusNotice.style.display = 'none'
        }
      }, 10000)
      var count = 200
      var defaults = {
        origin: { y: 0.7 },
      }

      function fire(particleRatio, opts) {
        confetti({
          ...defaults,
          ...opts,
          particleCount: Math.floor(count * particleRatio),
        })
      }

      fire(0.25, {
        spread: 26,
        startVelocity: 55,
      })
      fire(0.2, {
        spread: 60,
      })
      fire(0.35, {
        spread: 100,
        decay: 0.91,
        scalar: 0.8,
      })
      fire(0.1, {
        spread: 120,
        startVelocity: 25,
        decay: 0.92,
        scalar: 1.2,
      })
      fire(0.1, {
        spread: 120,
        startVelocity: 45,
      })
    },
    newVoting() {
      this.emit({
        eventName: 'client:newVoting',
        payload: {
          sessionCode: this.session.code,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
        },
      })
    },
    submitEstimation(number) {
      if (this.session?.revealed) {
        // Disable estimation change when in "Revealed" state
        return
      }
      this.emit({
        eventName: 'client:submitEstimation',
        payload: {
          sessionCode: this.session.code,
          // Set estimation or dismiss estimation if clicked again
          estimation: number !== this.estimation ? number : null,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
          this.estimation = response.estimation
        },
      })
    },
    getEstimations() {
      return Object.values(this.session.estimations)
    },
    estimationConsensus() {
      return this.getEstimations().every((val, i, arr) => val === arr[0])
    },
    getAverageOfEstimations() {
      return (
        this.getEstimations()
          // Only numbers
          .filter((estimation) => !isNaN(estimation))
          // Reduce magic, thanks @Nina https://stackoverflow.com/a/52139743
          .reduce(function (avg, value, _, { length }) {
            return avg + value / length
          }, 0)
      )
    },
    exit() {
      window.location = '/'
    },
    sortFunction(userA, userB) {
      const estimationUserA = this.session.cardDeck.indexOf(this.session.estimations[userA])
      const estimationUserB = this.session.cardDeck.indexOf(this.session.estimations[userB])
      return estimationUserA - estimationUserB
    },
    getOrderedEstimations() {
      if (this.getEstimations().length === 0) {
        return ['']
      }
      return Array.from(new Set(this.getEstimations())).sort(this.sortByCount)
    },
    sortByCount(numberA, numberB) {
      const countNumberA = this.getEstimations().filter((number) => number === numberA).length
      const countNumberB = this.getEstimations().filter((number) => number === numberB).length
      return countNumberA - countNumberB
    },
  },
}
</script>
