<template>
  <div class="login flex mx-auto flex-col align-center h-full justify-center p-4">
    <h1 class="mt-auto mx-auto text-3xl font-bold">The Planning Poker</h1>
    <span class="text-center text-gray-700/60 dark:text-slate-400">Estimate without distractions, ads or paywalls.</span>
    <span class="text-center text-gray-700/60 dark:text-slate-400 mb-3">
      Already hosted
      <number ref="number1" :from="0" :to="estimationCount" :duration="1" :delay="0" easing="Sine.easeOut" />
      estimations in
      <number ref="number2" :from="0" :to="sessionCount" :duration="1.5" :delay="0" easing="Sine.easeOut" />
      sessions.
    </span>
    <div class="flex mx-auto flex-col">
      <div class="flex mx-auto flex-col">
        <my-button @click="$router.push('/create')">Create session</my-button>
        <my-button @click="$router.push('/join')">Join session</my-button>
        <my-button @click="toggleDarkMode" type="secondary">Toggle dark mode</my-button>
      </div>
    </div>
    <div class="flex flex-col mt-auto mx-auto gap-2">
      <button
        @click="$window.open('/imprint', '_self')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Imprint & Privacy
      </button>
      <button
        @click="$window.open('/buy-me-a-coffee', '_self')"
        type="button"
        class="mt-auto text-gray-700/60 dark:text-slate-400 hover:underline hover:decoration hover:decoration-sky-500 hover:decoration-2"
      >
        Buy me a coffee ☕️
      </button>
    </div>
  </div>
</template>

<style lang="css" scoped></style>

<script>
import { mapMutations } from 'vuex'
import Button from '../components/Button'
import Card from '../components/Card.vue'

export default {
  name: 'start',
  components: { 'my-button': Button, Card },
  methods: {
    ...mapMutations(['toggleDarkMode']),
  },
  computed: {
    estimationCount() {
      return this.$sessionStats.estimations
    },
    sessionCount() {
      return this.$sessionStats.sessions
    },
  },
}
</script>
