@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

@layer components {
  #body {
    @apply bg-white dark:bg-slate-900 w-screen h-screen;
  }
}
