<template>
  <div class="bg-white dark:bg-slate-900 w-full h-full dark:text-white">
    <router-view></router-view>
  </div>
</template>

<style lang="css" scoped></style>

<script>
import { mapMutations } from 'vuex'
import Start from './views/Start'
import Session from './views/Session'
import Button from './components/Button'

export default {
  name: 'app',
  components: { Start, Session, 'my-button': Button },
  data: () => {
    return {}
  },
  methods: {
    ...mapMutations(['initSocket', 'toggleDarkMode', 'toggleConsensusConfetti']),
  },
  mounted() {
    this.initSocket()
    if (localStorage.getItem('darkMode')) {
      this.toggleDarkMode()
    }
    if (localStorage.getItem('consensusConfetti')) {
      this.toggleConsensusConfetti()
    }
  },
}
</script>
