<template>
  <button
    @click="callback($event)"
    :disabled="disabled"
    class="select-none"
    v-bind:class="{
      'px-4 py-2 rounded bg-blue-500 hover:bg-blue-700 text-white font-bold mb-2': type === 'primary',
      'px-4 py-2 border rounded hover:bg-blue-200 dark:hover:text-slate-700 font-bold': type === 'secondary',
    }"
  >
    <slot />
  </button>
</template>

<style lang="css" scoped></style>

<script>
export default {
  name: 'my-button',
  props: {
    disabled: Boolean,
    type: {
      type: String,
      default: 'primary',
    },
  },
  methods: {
    callback(event) {
      this.$emit('click', event)
    },
  },
}
</script>
