<template>
  <div
    :role="disabled ? 'none' : 'button'"
    class="select-none min-w-[2.5rem] h-16 flex justify-center transition ease-in-out delay-50 items-center font-bold rounded border border-blue-500 p-3 mb-1 mr-1"
    :class="{
      'hover:bg-blue-500': number === estimation,
      'bg-blue-500': number === estimation,
      '-translate-y-1': number === estimation,
      'text-white': number === estimation,
      'text-blue-500': number !== estimation,
      'hover:-translate-y-1 hover:bg-blue-100': !disabled,
      'cursor-not-allowed': disabled,
    }"
    @click="callback($event)"
  >
    {{ number }}
  </div>
</template>

<style lang="css" scoped></style>

<script>
export default {
  name: 'card',
  props: ['number', 'estimation', 'disabled'],
  methods: {
    callback(event) {
      this.$emit('click', event)
    },
  },
}
</script>
