<template>
  <div @mouseover="hover = true" @mouseleave="hover = false">
    <div
      :class="{
        'bg-blue-500': session.estimations[user] && !session.revealed,
        'bg-blue-100/10': session.estimations[user] && session.estimations[user] !== 'X',
        'bg-blue-100/10': session.spectators.includes(user),
      }"
      class="select-none min-w-[2.5rem] h-16 flex items-center justify-center rounded border border-blue-500 p-3"
    >
      <div class="font-bold" v-if="!session.spectators.includes(user)" :class="{ hidden: !session.revealed }">
        {{ session.revealed ? session.estimations[user] : cheaterMessage }}
      </div>
      <div v-else>👀</div>
    </div>
    <div :class="{ 'font-bold': user === name }" :title="user" class="mt-1 truncate max-w-[9rem]">
      {{ user }}
    </div>
    <span
      class="select-none cursor-pointer max-w-[9rem]"
      title="Make to new host"
      @click="makeHost(user)"
      v-if="hover && !session.revealed && session.creator === name && session.creator !== user"
    >
      Make Host
    </span>
    <span class="select-none" title="Host" v-if="session.creator === user">👑</span>
  </div>
</template>

<style lang="css" scoped></style>

<script>
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'

export default {
  name: 'display-card',
  props: ['user'],
  data: () => {
    return {
      cheaterMessage: 'If you are not sure, please tell it your colleagues and discuss it further 😊',
      hover: false,
    }
  },
  computed: {
    ...mapGetters(['name', 'session']),
  },
  methods: {
    ...mapMutations(['emit']),
    makeHost(user) {
      this.emit({
        eventName: 'client:makeHost',
        payload: {
          sessionCode: this.session.code,
          user,
        },
        callback: (response) => {
          if (response.error) {
            alert(response.error)
            return
          }
        },
      })
    },
  },
}
</script>
