<template>
  <label :for="id" class="flex items-center cursor-pointer">
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input @click="callback($event)" :disabled="disabled" :id="id" type="checkbox" v-model="value" class="sr-only peer" />
      <!-- line -->
      <div :id="id + '-line'" class="w-10 h-4 bg-gray-400 peer-disabled:bg-gray-100 rounded-full shadow-inner"></div>
      <!-- dot -->
      <div
        :id="id + '-dot'"
        class="dot absolute border w-6 h-6 bg-slate-500 peer-disabled:bg-gray-300 rounded-full shadow-left-1 -top-1 transition"
      ></div>
    </div>
    <div
      :id="id + '-label'"
      class="ml-3 text-gray-700 dark:text-slate-700 peer-disabled:text-gray-300 dark:peer-disabled:text-slate-500 select-none font-medium"
    >
      <slot />
    </div>
  </label>
</template>

<style lang="css" scoped>
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: rgb(59 130 246);
}
</style>

<script>
export default {
  name: 'toggle',
  props: ['id', 'value', 'disabled'],
  methods: {
    callback(event) {
      this.$emit('click', event)
    },
  },
}
</script>
